.container {
  display: flex;
  justify-content: space-between;
}

.link {
  display: block;
  width: 180px;
  padding: 10px 10px;
  margin: 10px;
  border-radius: 10px;
  color: #22215b;
  background-color: #ffc700;
  box-sizing: border-box;

  text-decoration: none;
  text-align: center;

  text-transform: uppercase;
}

.link:hover {
  /* background-color: #f1c218; */
  color: white;
}

.link:active {
  opacity: 50%;
}
