.card {
  width: 150px;
  height: 150px;

  background-color: cornflowerblue;
  border-radius: 10px;

  margin-left: 5px;
  margin-bottom: 5px;
}

.container {
  display: flex;
  align-items: center;
}

.nameWrapper {
    margin: 0;
}

.name {
  margin: 0;
  margin: 5px 5px;
  font-size: 0.9em;
}

.info {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 10px;
}

.textRow {
  font-size: 12px;
  margin-left: 10px;
}

.imageWrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #eee;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.userAvatar {
  height: 100%;
  width: auto;
}

.button {
    padding: 7px;
    margin: 3px;
    border-radius: 10px;
}
